* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Orbitron !important;
}

body {
}

.app-theme {
  --app-primary: #265643;
  --app-secondary: #73fcc5;
  --app-tertiary: #057a4b;
  --text-primary: #ffffff;
  --text-secondary: #ffffff;

  --modal-background: var(--app-primary);
  --home-background: #3e926c;
}

.dark-theme {
  --app-primary: #262928;
  --app-secondary: #798d86;
  --app-tertiary: #364b43;
  --text-primary: #ffffff;
  --text-secondary: #ffffff;

  --modal-background: var(--app-primary);
  --home-background: #43554d;
}

h1,
h2,
h3 {
  font-family: Orbitron, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
